<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="color: white;">SignaLearn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="fondo"></div>
  <div id="container">
    <!-- Contenido principal aquí -->
    <h1 class="title"></h1>
    <img src="/assets/images/numeros.png" />

    <!-- Imagen de la casa -->
    <!-- img src="/assets/images/casa.png" class="content-image"/-->

    <ion-button [routerLink]="['/numeros-p1']" style="color: white;">Continuar</ion-button>

  </div>
</ion-content>
