<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button style="color:white" [routerLink]="['/menu']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color:white"><strong>Los números</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="fondo"></div>


  <div class="shape">Presta atención a los números a continuación!</div>

  <!-- card para numero 1-->
  <ion-card>
    <img src="assets\images\Leccion 1\Numeros\6.png" alt="numero 6">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Número 6</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir: Seis.
    </ion-card-content>
  </ion-card>

  <hr>

  <!-- card para numero 2-->
  <ion-card>
    <img src="assets\images\Leccion 1\Numeros\7.png" alt="numero 7">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Número 7</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir: Siete.
    </ion-card-content>
  </ion-card>

  <hr>

  <!-- card para numero 8-->
  <ion-card>
    <img src="assets\images\Leccion 1\Numeros\8.png" alt="numero 8">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Número 8</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir: Ocho.
    </ion-card-content>
  </ion-card>

  <hr>

  <!-- card para numero 9-->
  <ion-card>
    <img src="assets\images\Leccion 1\Numeros\9.png" alt="numero 9">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Número 9</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir: Nueve.
    </ion-card-content>
  </ion-card>  

  <hr>

  <!-- card para numero 10-->
  <ion-card>
    <img src="assets\images\Leccion 1\Numeros\10.png" alt="numero 10">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Número 10</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir: Diez.
    </ion-card-content>
  </ion-card>

  <hr>

  <div class="boton">
    <ion-button [routerLink]="['/leccion1.1']" style="color: white;"><strong>Continuar</strong></ion-button>
  </div>

</ion-content>
