<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button style="color:white" [routerLink]="['/menu']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color:white"><strong>Las vocales</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="fondo"></div>

  <div class="shape">Presta atención a las siguientes vocales!</div>

  <!-- card para A-->
  <ion-card>
    <img src="assets\images\Leccion 1\Vocales\A.png" alt="Letra A">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Letra A</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir la vocal: A.
    </ion-card-content>
  </ion-card>

  <hr>

  <!-- card para E-->
  <ion-card>
    <img src="assets\images\Leccion 1\Vocales\E.png" alt="Letra E">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Letra E</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir la vocal: E.
    </ion-card-content>
  </ion-card>

  <hr>

  <!-- card para I-->
  <ion-card>
    <img src="assets\images\Leccion 1\Vocales\I.png" alt="Letra I">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Letra I</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir la vocal: I.
    </ion-card-content>
  </ion-card>

  <hr>

  <!-- card para O-->
  <ion-card>
    <img src="assets\images\Leccion 1\Vocales\O.png" alt="numero O">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Letra O</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir la letra: O.
    </ion-card-content>
  </ion-card>  

  <hr>

  <!-- card para U-->
  <ion-card>
    <img src="assets\images\Leccion 1\Vocales\U.png" alt="Letra U">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Letra U</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir la vocal: U.
    </ion-card-content>
  </ion-card>

  <hr>

  <div class="boton">
    <ion-button [routerLink]="['/prueba-uno']" style="color: white;"><strong>Realizar la prueba?</strong></ion-button>
  </div>

</ion-content>
