<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button style="color:white" [routerLink]="['/menu']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color:white"><strong>Palabras Comúnes</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div class="fondo"></div>

  <div class="shape">Presta atención a las siguientes Palabras!</div>

  <!-- card para numero 1-->
  <ion-card>
    <img src="assets\images\Lección 3\Palabras Comunes\Adios.png" alt="Adios">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Adios</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir: Adios.
    </ion-card-content>
  </ion-card>

  <hr>

  <!-- card para numero 2-->
  <ion-card>
    <img src="assets\images\Lección 3\Palabras Comunes\Bien.png" alt="Bien">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Bien</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir: Bien.
    </ion-card-content>
  </ion-card>

  <hr>

  <!-- card para numero 3-->
  <ion-card>
    <img src="assets\images\Lección 3\Palabras Comunes\Gracias.png" alt="Gracias">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Gracias</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir: Gracias.
    </ion-card-content>
  </ion-card>

  <hr>

  <!-- card para numero 4-->
  <ion-card>
    <img src="assets\images\Lección 3\Palabras Comunes\Hola.png" alt="Hola">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Hola!</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir: Hola!.
    </ion-card-content>
  </ion-card>  

  <hr>

  <!-- card para numero 5-->
  <ion-card>
    <img src="assets\images\Lección 3\Palabras Comunes\Perdon.png" alt="Perdon">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Perdón</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir: Perdón.
    </ion-card-content>
  </ion-card>

  <hr>

  <ion-card>
    <img src="assets\images\Lección 3\Palabras Comunes\Porfavor.png" alt="Porfavor">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Porfavor</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir: Porfavor.
    </ion-card-content>
  </ion-card>
  
  <hr>

  <div class="boton">
    <ion-button [routerLink]="['/prueba-alimentos']" style="color: white;"><strong>Realizar la prueba?</strong></ion-button>
  </div>

</ion-content>
