<ion-menu content-id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title style="color: white;">SignaLearn</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button style="color: white;" [routerLink]="['/profile']">Perfil de Usuario</ion-button>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button style="color: white;"></ion-menu-button>
      </ion-buttons>
      <ion-title></ion-title>
      <img class="imgSL" src="/assets/images/SignaLearn.png" alt="">
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div class="fondo"></div>
    
    <p style="color:#312448; font-size: larger;"><strong>Selecciona una Lección!</strong></p>
    <ion-img [routerLink]="['/leccion1']" src="/assets/images/menu1.png"
      alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
    <ion-img [routerLink]="['/leccion2']" src="/assets/images/menu2.png"
      alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
    <ion-img [routerLink]="['/leccion3']" src="/assets/images/menu3.png"
      alt="The Wisconsin State Capitol building in Madison, WI at night">
    </ion-img>
  </ion-content>

</div>