<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button style="color:white" [routerLink]="['/menu']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color:white"><strong>Los Alimentos</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="fondo"></div>

  <div class="shape">Presta atención a los siguientes Alimentos!</div>

  <!-- card para numero 1-->
  <ion-card>
    <img src="assets\images\Lección 3\Alimentos\Pann.png" alt="Pan">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Pan</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir: Pan.
    </ion-card-content>
  </ion-card>

  <hr>

  <!-- card para numero 2-->
  <ion-card>
    <img src="assets\images\Lección 3\Alimentos\Pollo.png" alt="Pollo">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Pollo</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir: Pollo.
    </ion-card-content>
  </ion-card>

  <hr>

  <!-- card para numero 3-->
  <ion-card>
    <img src="assets\images\Lección 3\Alimentos\Queso.png" alt="Queso">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Queso</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir: Queso.
    </ion-card-content>
  </ion-card>

  <hr>

  <!-- card para numero 4-->
  <ion-card>
    <img src="assets\images\Lección 3\Alimentos\Sopa.png" alt="Sopa">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Sopa</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir: Sopa.
    </ion-card-content>
  </ion-card>  

  <hr>

  <!-- card para numero 5-->
  <ion-card>
    <img src="assets\images\Lección 3\Alimentos\Tomate.png" alt="Tomate">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Tomate</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir: Tomate.
    </ion-card-content>
  </ion-card>

  <hr>

  <div class="boton">
    <ion-button [routerLink]="['/leccion3.1']" style="color: white;"><strong>Continuar</strong></ion-button>
  </div>

</ion-content>
