<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button style="color:white" [routerLink]="['/menu']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color:white"><strong>Los Alimentos</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="fondo"></div>

  <div class="shape">Presta atención a los siguientes Alimentos!</div>

  <!-- card para numero 1-->
  <ion-card>
    <img src="assets\images\Lección 3\Alimentos\Agua.png" alt="Agua">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Agua</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir: Agua.
    </ion-card-content>
  </ion-card>

  <hr>

  <!-- card para numero 2-->
  <ion-card>
    <img src="assets\images\Lección 3\Alimentos\Arroz.png" alt="Arroz">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Arroz</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir: Arroz.
    </ion-card-content>
  </ion-card>

  <hr>

  <!-- card para numero 3-->
  <ion-card>
    <img src="assets\images\Lección 3\Alimentos\Café.png" alt="Cafe">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Café</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir: Café.
    </ion-card-content>
  </ion-card>

  <hr>

  <!-- card para numero 4-->
  <ion-card>
    <img src="assets\images\Lección 3\Alimentos\Carne.png" alt="Carne">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Carne</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir: Carne.
    </ion-card-content>
  </ion-card>  

  <hr>

  <!-- card para numero 5-->
  <ion-card>
    <img src="assets\images\Lección 3\Alimentos\Huevo.png" alt="Huevo">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Huevo</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir: Huevo.
    </ion-card-content>
  </ion-card>

  <hr>

  <div class="boton">
    <ion-button [routerLink]="['/alimentos-p2']" style="color: white;"><strong>Continuar</strong></ion-button>
  </div>

</ion-content>
