<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button style="color:white" [routerLink]="['/menu']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color:white"><strong>Los Días de la Semana</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div class="fondo"></div>

  <div class="shape">Presta atención a los días de la semana!</div>

  <!-- card para Lunes-->
  <ion-card>
    <img src="assets\images\Lección 2\Dias\Lunes.png" alt="Lunes">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Lunes</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para el día: Lunes.
    </ion-card-content>
  </ion-card>

  <hr>

  <!-- card para Martes-->
  <ion-card>
    <img src="assets\images\Lección 2\Dias\Martes.png" alt="Martes">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Martes</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para el día: Martes.
    </ion-card-content>
  </ion-card>

  <hr>

  <!-- card para Miercoles-->
  <ion-card>
    <img src="assets\images\Lección 2\Dias\Miercoles.png" alt="Miercoles">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Miercoles</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para el día: Miercoles.
    </ion-card-content>
  </ion-card>

  <hr>

  <!-- card para Jueves-->
  <ion-card>
    <img src="assets\images\Lección 2\Dias\Jueves.png" alt="Jueves">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Jueves</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para el día: Jueves.
    </ion-card-content>
  </ion-card>  

  <hr>

  <!-- card para Viernes-->
  <ion-card>
    <img src="assets\images\Lección 2\Dias\Viernes.png" alt="Viernes">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Viernes</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para el día: Viernes.
    </ion-card-content>
  </ion-card>

  <hr>

  <!-- card para Sabado-->
  <ion-card>
    <img src="assets\images\Lección 2\Dias\Sabado.png" alt="Sabado">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Sábado</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para el día: Sábado.
    </ion-card-content>
  </ion-card>  

  <hr>

  <!-- card para Domingo-->
  <ion-card>
    <img src="assets\images\Lección 2\Dias\Domingo.png" alt="Domingo">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Domingo</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para el día: Domingo.
    </ion-card-content>
  </ion-card>  

  <hr>
  <div class="boton">
    <ion-button [routerLink]="['/prueba-colores']" style="color: white;"><strong>Realizar la prueba?</strong></ion-button>
  </div>

</ion-content>
