<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button style="color:white" [routerLink]="['/menu']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color:white"><strong>Los Colores</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="fondo"></div>

  <div class="shape">Presta atención a siguientes Colores!</div>

  <!-- card para amarisho-->
  <ion-card>
    <img src="assets\images\Lección 2\Colores\gris.png" alt="Gris">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Gris</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir el color: Gris.
    </ion-card-content>
  </ion-card>

  <hr>

  <!-- card para azul-->
  <ion-card>
    <img src="assets\images\Lección 2\Colores\Morado.png" alt="Morado">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Morado</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir el color: Morado.
    </ion-card-content>
  </ion-card>

  <hr>

  <!-- card para blanco-->
  <ion-card>
    <img src="assets\images\Lección 2\Colores\rojo.png" alt="Rojo">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Rojo</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir el color: Rojo.
    </ion-card-content>
  </ion-card>

  <hr>

  <!-- card para celeste-->
  <ion-card>
    <img src="assets\images\Lección 2\Colores\Verde.png" alt="Verde">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Verde</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir el color: Verde.
    </ion-card-content>
  </ion-card>  

  <hr>

  <!-- card para choco-->
  <ion-card>
    <img src="assets\images\Lección 2\Colores\violeta.png" alt="Violeta">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Violeta</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir el color: Violeta.
    </ion-card-content>
  </ion-card>

  <hr>

  <div class="boton">
    <ion-button [routerLink]="['/leccion2.1']" style="color: white;"><strong>Continuar</strong></ion-button>
  </div>

</ion-content>
