<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button style="color:white" [routerLink]="['/menu']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color:white"><strong>Los Colores</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="fondo"></div>

  <div class="shape">Presta atención a siguientes Colores!</div>

  <!-- card para amarisho-->
  <ion-card>
    <img src="assets\images\Lección 2\Colores\Amarillo.png" alt="Amarillo">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Amarillo</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir el color: Amarillo.
    </ion-card-content>
  </ion-card>

  <hr>

  <!-- card para azul-->
  <ion-card>
    <img src="assets\images\Lección 2\Colores\Azul.png" alt="Azul">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Azul</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir el color: Azul.
    </ion-card-content>
  </ion-card>

  <hr>

  <!-- card para blanco-->
  <ion-card>
    <img src="assets\images\Lección 2\Colores\blanco.png" alt="Blanco">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Blanco</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir el color: Blanco.
    </ion-card-content>
  </ion-card>

  <hr>

  <!-- card para celeste-->
  <ion-card>
    <img src="assets\images\Lección 2\Colores\celeste.png" alt="Celeste">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Celeste</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir el color: Celeste.
    </ion-card-content>
  </ion-card>  

  <hr>

  <!-- card para choco-->
  <ion-card>
    <img src="assets\images\Lección 2\Colores\chocolate.png" alt="Chocolate">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Chocolate</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir el color: Chocolate.
    </ion-card-content>
  </ion-card>

  <hr>

  <div class="boton">
    <ion-button [routerLink]="['/colores-p2']" style="color: white;"><strong>Continuar</strong></ion-button>
  </div>

</ion-content>
