<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button style="color:white" [routerLink]="['/menu']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color:white"><strong>Los números</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="fondo"></div>
  <div class="shape">Presta atención a los números a continuación!</div>

  <!-- card para numero 1-->
  <ion-card>
    <img src="assets\images\Leccion 1\Numeros\1.png" alt="numero 1">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Número 1</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir: Uno.
    </ion-card-content>
  </ion-card>

  <hr>

  <!-- card para numero 2-->
  <ion-card>
    <img src="assets\images\Leccion 1\Numeros\2.png" alt="numero 2">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Número 2</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir: Dos.
    </ion-card-content>
  </ion-card>

  <hr>

  <!-- card para numero 3-->
  <ion-card>
    <img src="assets\images\Leccion 1\Numeros\3.png" alt="numero 3">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Número 3</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir: Tres.
    </ion-card-content>
  </ion-card>

  <hr>

  <!-- card para numero 4-->
  <ion-card>
    <img src="assets\images\Leccion 1\Numeros\4.png" alt="numero 4">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Número 4</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir: Cuatro.
    </ion-card-content>
  </ion-card>  

  <hr>

  <!-- card para numero 5-->
  <ion-card>
    <img src="assets\images\Leccion 1\Numeros\5.png" alt="numero 5">
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title style="color: white;"> <strong>Número 5</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white;">
      Ésta es la señal para decir: Cinco.
    </ion-card-content>
  </ion-card>

  <hr>

  <div class="boton">
    <ion-button [routerLink]="['/numeros-p2']" style="color: white;"><strong>Continuar</strong></ion-button>
  </div>

</ion-content>
